@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cookie&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* outline:solid 1px; */
}
html, body{
    height: 100dvh;
}

:root{
    --color-bg: #FEFCF3;
    --color-primary: #DBA39A;
    --color-secundary: #F0DBDB;
    --color-alt: #F5EBE0;
}

#mobile-first{
    width: 100dvw;
    height: 100dvh;
    background-color: var(--color-bg);
}

#container-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 1.875rem 1rem 1.875rem;
}
#container-logo img{
    width: 18rem;
    height: auto;
}
#container-logo h1{
    font-size: 2rem;
    font-family: "Caveat", serif;
}

#instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    margin: 3rem 1.875rem 1rem 1.875rem;
    
}
#instagram i{
    padding-right: 10px;
}
#instagram a{
    font-family: "Arial", serif;
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--color-primary);
    padding: 10px 40px;
    border-radius: 55px;
    box-shadow: 1px 2px 4px var(--color-primary);
}
#whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    margin: 3rem 1.875rem 1rem 1.875rem;
    
}
#whatsapp i{
    padding-right: 10px;
}
#whatsapp a{
    font-family: "Arial", serif;
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--color-primary);
    padding: 10px 40px;
    border-radius: 55px;
    box-shadow: 1px 2px 4px var(--color-primary);
}